@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');


body{
    font-family: 'Roboto', sans-serif !important;
    height: 100vh;
}

/* -----------------NAVBAR -----------------*/
nav{
    background-color: #ffffff !important;
    text-align: right;
    font-weight: bold;
    letter-spacing: 0.5px;
    /* max-width: 1440px;
    margin: 0 auto; */
}

.navbar-brand img{
    width: 180px;
    height: 105px;
}

.nav-item a{
    text-transform: uppercase;
}


a .nav-link:hover + li{
    color:black !important;
    background-color: #fa783c !important;
    /* border: 1px black solid; */
}


@media (min-width: 1024px) {
    #navbarNav{
        justify-content: flex-end;
    }

    .nav-link{
        padding-left: 20px !important;
    }
}
    /* .gallery-main-section{
        margin-top: 0;
    } *}


/*-------------------- MAIN SECTION INDEX---------------------- */
.main-section{
    width: 100%;
    height: 75vh;
    background-image: url("../img/SALMONES_filete_atun.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*--------------Main Container--------------*/
.container-index{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#salmones-logo-main-section{
    width: 350px;
    height: 210px;
}

            /* button style */
.button-salmones{
    background-color: #ffffff !important;
    border: black solid 1px !important;
}
button:hover{
    background-color: rgb(255, 142, 101) !important;
}

.btn a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
/*End Main Container*/

/* Media Queries Index */

@media (min-width: 768px){
    #salmones-logo-main-section{
        width: 700px;
        height: 400px;
    }
    .main-section{
        height: 76vh;
    }
}

@media (min-width: 1024px){
    nav{
        width: 90%;
        margin: 0 auto;
        font-size: 1.1rem;
    }

    .button-salmones{
        width: 120px;
        height: 40px;
    }

    #salmones-logo-main-section{
        width: 900px;
        height: 600px;
    }
    .main-section{
        height: 79vh;
    }
}

@media (min-width: 1024px) and (min-height: 700px){  
        #salmones-logo-main-section{
            width: 700px;
            height: 400px;
        }     
}

@media (min-width: 1440px){
    nav{
        width: 85%;
        margin: 0 auto;
        font-size: 1.125rem;
    }

    .navbar-brand img{
        width: 210px;
        height: 135px;
    }
}
/* End Media Queries Index */

/*--------------- Container UBICACION ------------*/

/* googlemaps */
.main-section-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-salmones-ubicacion{
    text-decoration: underline dashed 2px #fa783c;
    font-style: italic;
    font-weight: bold;
}

.salmones-maps{
    margin-top: 2.5vh;
    line-height: 0.4rem;
    margin-bottom: 2vh;
}

.google-map{
    width: 75vw;
    height: 30vh;
}

#tittle-ubicacion{
    display: none;
}
/* Inicio Media Queries Secci贸n Ubicaci贸nes/Sucursales */
@media (min-width: 1024px) and (min-height: 700px){ 
    
    #tittle-ubicacion{
        display:block;
        margin-left: 7.5vw;
        font-size: 3.5rem;
    }

    #salmones-rio-map{
        padding-right: 7vw;
        border-right: 3px black solid;
    }
    
    .main-section-ubicacion{
        width: 90%;
        margin: 0 auto;
        height: 62.5vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .google-map{
        width: 35vw;
        height: 30vh;
    } 
}

@media(min-height: 1100px){ 
    
    .main-section-ubicacion{
        width: 90%;
        margin: 0 auto;
        height: 71vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .google-map{
        width: 35vw;
        height: 30vh;
    } 
}
/* Fin Media Queries Secci贸n Ubicaci贸nes/Sucursales */

/*---------------- Container NOSOTROS --------------*/

.container-nosotros{   
    width: 100%;
    /* height: 72vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-title{
    padding-top: 1vh;
    text-shadow: -1px 0 rgb(252, 122, 36), 0 1px rgb(252, 122, 36), 1px 0 rgb(252, 122, 36), 0 -1px rgb(252, 122, 36);
}

section{
    padding-top: 2vh;
}
section p{
    text-align: justify;
}
.section-bold-text{
    font-weight: bold;
}

.container-nosotros img{
    width: 300px;
    height: 180px;
}

.container-nosotros section{
    width: 75%;
    text-align: center;
    font-weight: 400;
    letter-spacing: -.5px;
}

#frase-pd{
    text-decoration: underline dashed 2px #fa783c;
    font-size: .8rem;
}
/* Media Queries Nosotros */
@media (min-width: 1024px) and (min-height: 700px){  
    
    .container-nosotros{
        width: 60vw;
        margin: 0 auto;
    }
    .container-nosotros h1{
        font-size: 5rem;
    }
    
    section p{
        text-align: justify;
        font-size: 1.125rem;
    }

    section h4{
        font-size: 2.5rem;
    }
}

@media(min-height: 1100px){ 
    .container-nosotros{
        height: 79vh;
    }
}
/* Fin Media Queries Nosotros */

/*------------------ FOOTER ---------------------- */
footer{
    margin-top: auto;
    width: 100%;
    background-color: rgb(252, 111, 59) !important;
    height: 12vh;
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.container img{
    width: 70px;
    height: 35px;
}
.container a:hover{
transform: scale(1.1);
} 

footer .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/*--------------GALLERY SECTION-----------------*/


.gallery-main-section{
    margin: 0 auto;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}


#footer-gallery{
    position: fixed;
    bottom: 0;
}

/* @media (min-width: 600px) {
    #footer-gallery{
        position: static;
    }

    /* .gallery-main-section{
        margin-top: 0;
    } */



#title-galeria{
    padding-bottom: 10px;
    font-size: 3rem;
    text-shadow: -1px 0 rgb(252, 122, 36), 0 1px rgb(252, 122, 36), 1px 0 rgb(252, 122, 36), 0 -1px rgb(252, 122, 36);
    padding-top: 3vh;
}

#salmones-logo-gallery-section{
    margin-top: 1vh;
    width: 200px;
    height: 120px;
}

/* MEDIA QUERIES GALLERY */

@media(min-height: 1000px){ 

    #title-galeria{
        font-size: 4rem;
    }
    .gallery-main-section{
        height: 80vh;
    }

    #salmones-logo-gallery-section{
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 350px;
        height: 200px;
    }

    .carousel-inner .item {
        background-size: cover;
        background-position:center;
    }
}

@media (min-width: 1200px){

    #title-galeria{
        font-size: 5.5rem;
    }

    .gallery-main-section{
        height: 130vh;
        z-index: 9999;
    }

    .gallery-main-section{
        width: 75vw !important;
    }

    .carousel-item{
        width: 90vw !important;
        height: 85vh !important;
    }

    .carousel-item img{
        position: relative;
        bottom: 15%;
    } 

    #salmones-logo-gallery-section{
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 400px;
        height: 280px;
    }
}

/* END MEDIA QUERIES GALLERY */